{% extends 'base/base.html' %}

{% block title %}Parolni tiklash uchun email yuborildi{% endblock %}

{% block content %}
<div class="password-reset-done mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-info text-center">
                <h4>Email yuborildi!</h4>
                <p>Parolni tiklash uchun havola email manzilingizga yuborildi.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login sahifasiga qaytish</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}