{% extends 'base/base.html' %}

{% block title %}Parol muvaffaqiyatli tiklandi{% endblock %}

{% block content %}
<div class="password-reset-complete mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h4>Tabriklaymiz!</h4>
                <p>Sizning parolingiz muvaffaqiyatli tiklandi.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login sahifasiga qaytish</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}